.room-views {
    display              : grid;
    grid-template-rows   : 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas  :
        "find   find"
        "create keys";
}

.wrapper-find-room {
    overflow-y: scroll;
    height: 200px;
}

.find-room-contents {
    background: #202020;
}

.room-find {
    grid-area : find;
}

.room-create {
    grid-area : create;
}

.room-keys {
    grid-area : keys;
}

tr *{
    color: aliceblue;
}

th {
    padding-right: 50px;
    padding-left: 10px;
}

td {
    padding-right: 50px;
    padding-left: 10px;
}